---
---
@import "{{ site.theme }}";

@font-face {
	font-family: "MSKT";
	src: url("/assets/fonts/MSKT.ttf");
}

body {
	font-family: "Times New Roman", "MSKT";
	font-size: 20px;
}

blockquote {
	font-style: normal;
	font-size: 80%;
}